<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import { onMounted, ref, shallowRef, computed, watchEffect, watch, nextTick} from 'vue'
import mustache from 'mustache';
import { default as sio } from 'socket.io-client';

import {useUrlSearchParams, useTimeout, useFetch, refDebounced, watchArray, refAutoReset} from '@vueuse/core'

const params = useUrlSearchParams('history')

const {ready, start} = useTimeout(params.timeout === undefined ? 2000 : params.timeout, {immediate: false, controls: true})

const {execute: executeDataCommands, data: dataCommands} = useFetch('/commands', {
  immediate: false,
  refetch: true
}).get().json()

const {execute: executeDataHtmlEvent, data: dataHtmlEvent} = useFetch('/event.html', {
  immediate: false,
  refetch: true
})

const {execute: executeDataHtmlSubscribe, data: dataHtmlSubscribe} = useFetch('/subscribe.html', {
  immediate: false,
  refetch: true
})


const commands = computed(() => {
  if (dataCommands.value === undefined) return []
  return import.meta.env.DEV ? ['bruh', 'wasd_govna'] : dataCommands.value?.data
})


console.log(params.test === undefined)

const socket = sio("wss://chat.wasd.tv", {
  autoConnect: false,
  transports: ['websocket'],
  reconnection: false,
  timeout: 40000
});

onMounted(() => {
  executeDataCommands()
  executeDataHtmlEvent()
  executeDataHtmlSubscribe()

  if (params.test === undefined)
    socket.connect()
})

socket.on('joined', (data) => {
  console.log(data)
});

socket.on('message', (data) => {
  let user = data['user_login'];
  let msg = data['message'];
  let cmd = commands.value.find(c => msg.includes(c))
  if(cmd !== undefined){
    showCommand(user, cmd);
  }
});

socket.on('event', (data) => {
  let user = data['payload']['user_login'];
  showEvent(user);
});

socket.on('subscribe', (data) => {
  let user = data['user_login'];
  let months = data['validity_months'];
  showSubscribe(user, months)
});

if (params.token !== undefined && params.stream !== undefined && params.channel !== undefined) {
  socket.emit('join', {
    streamId: params.stream,
    channelId: params.channel,
    jwt: params.token,
    excludeStickers: true
  });
}

const queueAlerts = ref([])
const currentAlert = refAutoReset('', params.timeout === undefined ? 2500 : params.timeout)

const showEvent = (userName) => {
  let h = mustache.render(dataHtmlEvent.value, {userName: userName})
  queueAlerts.value.push(h)

}

const showSubscribe = (userName, months) => {
  let h = mustache.render(dataHtmlSubscribe.value, {userName: userName, months: months})
  queueAlerts.value.push(h)
}

watchEffect(async () => {
  if(queueAlerts.value.length > 0 && currentAlert.value === '') {
    currentAlert.value = queueAlerts.value.pop()
    start()
    await nextTick()
  }
}, )


const showCommand = (userName, cmd) => {
  fetch(`${cmd}.html`)
      .then(response => response.text())
      .then(data => {
        let h = mustache.render(data, { userName: userName })
        queueAlerts.value.push(h)
      });
}

const makeid = () => {
  let result           = '';
  let characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
  let charactersLength = characters.length;
  for ( let i = 0; i < 6; i++ ) {
    result += characters.charAt(Math.floor(Math.random() *
        charactersLength));
  }
  return result;
}

//
</script>

<template>
  <Transition>
    <div v-if="!ready" v-html="currentAlert"/>
  </Transition>
  <div v-if="params.test !== undefined && ready" style="height: 80vh; width: 100vw;">

    <div style="height: 0%; width: 100%;">
      <button v-for="command in commands" @click="showCommand(makeid, command)">&#20&nbsp;{{ "!" + command }}</button>
    </div>

    <div style="height: 50%;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center">
      <div style="width: auto; border: 1px solid blue">
        <button style="padding: 5px;
                  margin: 10px;
                  line-height: 20px;
                  font-weight: bold;
                  font-size: 2em;
                  text-align: center"
                @click="showEvent(makeid)">
          Follow
        </button>
        <button style="padding: 5px;
                  margin: 10px;
                  line-height: 20px;
                  font-weight: bold;
                  font-size: 2em;
                  text-align: center"
                @click="showSubscribe(makeid,18)">
          Subscribe
        </button>
      </div>
    </div>

  </div>
</template>

<style scoped>
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}

</style>

<style>
html {
  background-color: #42b983;
}
</style>